{% extends "app/crud/page.html" %}

{% block crud_header %}
    Create new product purchase option
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'app/crud/form.html' with form=option_form %}
        {% include 'app/crud/errors.html' with errors=option_form.non_field_errors %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Create new</button>
            </div>
        </div>
    </form>
{% endblock %}
