{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Delete product purchase option
{% endblock %}

{% block crud_content %}
    <table>
        <tr>
            <td>Product</td>
            <td>{{ option.product }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ option.quantity }}</td>
        </tr>
        <tr>
            <td>Price (cents)</td>
            <td>{{ option.priceInCents }}</td>
        </tr>
    </table>
    <br>
    <form method="post">
        {% csrf_token %}
        Are you sure ?
        <input type="submit" value="Yes"/>
        <a href="{% url 'product-update' pk=option.product.id %}">Cancel</a>
    </form>
{% endblock %}