{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Login" %}
{% endblock %}

{% block crud_content %}
    <form method="POST">
        {% csrf_token %}
        {% include 'teambuilding/site/shared/crud/form.html' with form=form %}
        {% include 'teambuilding/site/shared/crud/errors.html' with errors=form.non_field_errors %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">{% translate "Login" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
