{% extends "teambuilding/site/shared/base.html" %}
{% load i18n %}

{% block content %}
    <section class="section">
        <h3 class="title is-3">{% translate "Password reset complete" %}</h3>
        <div class="box">
            <div class="block">
                <p>{% translate "Your password has been set. You may go ahead and log in now." %}</p>
            </div>
            <div class="block">
                <a class="button is-link" href="{% url 'login' %}">{% translate "Login" %}</a>
            </div>
        </div>
    </section>
{% endblock %}
