{% extends "web/crud/page.html" %}

{% block crud_header %}
    Profile
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Nickname</strong></td>
            <td>{{ user.nickname }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <hr>
    <div class="field">
        <div class="control">
            <a class="button is-link" href="{% url 'user-profile-update' %}">Edit</a>
        </div>
    </div>
{% endblock %}
