{% extends "teambuilding/taste-purchase/page_form.html" %}
{% load i18n %}

{% block page_header %}
    {% translate "New order" %}
{% endblock %}

{% block page_content %}
    <table class="table table-striped">
        <tr>
            <td><strong>{% translate "Name" %}</strong></td>
            <td>{{ product.title|escape }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Description" %}</strong></td>
            <td>{{ product.description|escape }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Producer" %}</strong></td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <form class="mt-4" method="post">
        {% csrf_token %}
        {% include 'teambuilding/site/shared/forms/form_content.html' with form=order_form %}
        <button class="btn btn-primary mt-2" type="submit">{% translate "Purchase" %}</button>
    </form>
{% endblock %}
