{% extends "teambuilding/shared/base.html" %}

{% block content %}
    <section class="hero is-primary is-halfheight">
        <div class="hero-body">
            <div class="">
                <p class="title">
                    Welcome,
                    {% if user.is_authenticated %}
                        {{ user.nickname }}
                    {% else %}
                        Guest
                    {% endif %}
                </p>
                <p class="subtitle">
                    Welcome to Taste & Purchase
                </p>
            </div>
        </div>
    </section>
{% endblock %}
