{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Modifica opzione di acquisto prodotto
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/shared/crud/form.html' with form=option_form %}
        {% include 'teambuilding/shared/crud/errors.html' with errors=option_form.non_field_errors %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Salva</button>
            </div>
        </div>
    </form>
{% endblock %}
