{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Rimuovi prodotto
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Nome prodotto</strong></td>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <td><strong>Descrizione</strong></td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td><strong>Produttore</strong></td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <p class="control">Sei sicuro di voler rimuovere questo prodotto?</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Conferma</button>
            </div>
            <div class="control">
                <a class="button is-link is-light" href="{% url 'product-list' %}">Annulla</a>
            </div>
        </div>
    </form>
{% endblock %}