{% extends "teambuilding/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Purchase product" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Producer" %}</th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.producer }}</td>
                <td><a href="{% url 'product-order-create' product.id %}">{% translate "Purchase" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}