{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Gestisci prodotti
{% endblock %}

{% block crud_content %}
    <a class="button" href="{% url 'product-create' %}">Nuovo</a>
    <hr>
    <table class="table">
        <tr>
            <th>Nome prodotto</th>
            <th>Descrizione</th>
            <th>Produttore</th>
            <th></th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.producer }}</td>
                <td><a href="{% url 'product-update' product.id %}">Modifica</a></td>
                <td><a href="{% url 'product-delete' product.id %}">Rimuovi</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}