{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Modifica prodotto
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/shared/crud/form.html' with form=product_form %}
        {% include 'teambuilding/shared/crud/errors.html' with errors=product_form.non_field_errors %}
        <hr>
        <h5 class="title is-5">Opzioni di acquisto</h5>
        <a class="button" href="{% url 'product-purchase-option-create' product_id=pk %}">Nuova opzione di acquisto</a>
        <hr>
        <table class="table">
            <tr>
                <th>Quantità</th>
                <th>Prezzo EURO (cents)</th>
                <th></th>
                <th></th>
            </tr>
            {% for option in options %}
                <tr>
                    <td>{{ option.quantity }}</td>
                    <td>{{ option.price_cents }}</td>
                    <td><a href="{% url 'product-purchase-option-update' product_id=pk pk=option.id %}">Modifica</a></td>
                    <td>
                        {% if options.count > 1 %}
                            <a href="{% url 'product-purchase-option-delete' product_id=pk pk=option.id %}">Rimuovi</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Salva</button>
            </div>
        </div>
    </form>
{% endblock %}