{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Edit product" %}
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/site/shared/crud/form.html' with form=product_form %}
        {% include 'teambuilding/site/shared/crud/errors.html' with errors=product_form.non_field_errors %}
        <hr>
        <h5 class="title is-5">{% translate "Purchase options" %}</h5>
        <a class="button"
           href="{% url 'product-purchase-option-create' product_id=pk %}">{% translate "New purchase option" %}</a>
        <hr>
        <table class="table">
            <tr>
                <th>{% translate "Amount" %}</th>
                <th>{% translate "Price EUR (cents)" %}</th>
                <th></th>
                <th></th>
            </tr>
            {% for option in options %}
                <tr>
                    <td>{{ option.amount|escape }}</td>
                    <td>{{ option.price_cents }}</td>
                    <td>
                        {% if user.is_staff or option.product.added_by_user.id == user.profile.id %}
                            <a href="{% url 'product-purchase-option-update' product_id=pk pk=option.id %}">{% translate "Edit" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_staff or option.product.added_by_user.id == user.profile.id %}
                            {% if options.count > 1 %}
                                <a href="{% url 'product-purchase-option-delete' product_id=pk pk=option.id %}">{% translate "Remove" %}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">{% translate "Save" %}</button>
            </div>
        </div>
    </form>
{% endblock %}