{% extends "teambuilding/taste-purchase/page_form.html" %}
{% load i18n %}

{% block page_header %}
    {% translate "New event" %}
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/site/shared/forms/form_content.html' with form=event_form %}
        {% include 'teambuilding/site/shared/forms/errors.html' with errors=event_form.non_field_errors %}
        <button class="btn btn-primary mt-2" type="submit">{% translate "Save" %}</button>
    </form>
{% endblock %}