{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Delete product
{% endblock %}

{% block crud_content %}
    <table>
        <tr>
            <td>Title</td>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td>Producer</td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <br>
    <form method="post">
        {% csrf_token %}
        Are you sure ?
        <input type="submit" value="Yes"/>
        <a href="{% url 'product-list' %}">Cancel</a>
    </form>
{% endblock %}