{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Products list
{% endblock %}

{% block crud_content %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Producer</th>
            <th></th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.producer }}</td>
                <td><a href="{% url 'product-update' product.id %}">Edit</a></td>
                <td><a href="{% url 'product-delete' product.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'product-create' %}">Add new product</a>
{% endblock %}