{% extends "base.html" %}

{% block content %}

    <h2>Delete product purchase option</h2>

    <table>
        <tr>
            <td>Product</td>
            <td>{{ prod_purchase_option.product }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ prod_purchase_option.quantity }}</td>
        </tr>
        <tr>
            <td>Price (cents)</td>
            <td>{{ prod_purchase_option.priceInCents }}</td>
        </tr>
    </table>

    <form method="post">
        {% csrf_token %}
        Are you want to delete this product purchase option ?
        <input type="submit" value="Yes"/>
        <a href="{% url 'list_prod_purchase_opt' %}">Cancel</a>
    </form>

{% endblock %}