{% extends "base.html" %}

{% block content %}

<h2>Product purchase options list</h2>

<table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price (cents)</th>
      <th></th>
      <th></th>
    </tr>
    {% for prod_purchase_option in prod_purchase_opt_list %}
    <tr>
      <td> {{ prod_purchase_option.product }} </td>
      <td> {{ prod_purchase_option.quantity }} </td>
      <td> {{ prod_purchase_option.priceInCents }} </td>
      <td> <a href="{% url 'update_prod_purchase_opt' prod_purchase_option.id %}">Edit</a> </td>
      <td> <a href="{% url 'delete_prod_purchase_opt' prod_purchase_option.id %}">Delete</a> </td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}