{% extends "base.html" %}

{% block content %}

    <h2>Producer list</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            {% if user.is_staff %}
                <th></th>
            {% endif %}
            <th></th>
        </tr>
        {% for producer in producer_list %}
            <tr>
                <td> {{ producer.name }} </td>
                <td> {{ producer.email }} </td>
                <td> {{ producer.phone }} </td>
                <td> {{ producer.producerpostaladdress }} </td>
                {% if user.is_staff %}
                    <td><a href="{% url 'add_producer_order' producer.id %}">Bulk order</a></td>
                {% endif %}
                <td><a href="{% url 'list_orders' producer.id %}">List orders</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}