{% extends "teambuilding/taste-purchase/page_form.html" %}
{% load i18n %}

{% block page_header %}
    {% translate "Edit product" %}
{% endblock %}

{% block page_content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {% include 'teambuilding/site/shared/forms/form_content.html' with form=product_form %}
            {% include 'teambuilding/site/shared/forms/errors.html' with errors=product_form.non_field_errors %}
            <br>
            <h5>{% translate "Purchase options" %}</h5>
            <a class="btn btn-outline-dark btn-sm mt-3" href="{% url 'product-purchase-option-create' product_id=pk %}">
                {% translate "New purchase option" %}
            </a>
            <table class="table table-striped mt-3">
                <tr>
                    <th scope="col">{% translate "Amount" %}</th>
                    <th scope="col">{% translate "Price EUR (cents)" %}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                {% for option in options %}
                    <tr>
                        <td>{{ option.amount|escape }}</td>
                        <td>{{ option.price_cents }}</td>
                        <td>
                            {% if user.is_staff or option.product.added_by_user.id == user.id %}
                                <a href="{% url 'product-purchase-option-update' product_id=pk pk=option.id %}">{% translate "Edit" %}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_staff or option.product.added_by_user.id == user.id %}
                                {% if options.count > 1 %}
                                    <a href="{% url 'product-purchase-option-delete' product_id=pk pk=option.id %}">{% translate "Remove" %}</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary mt-2" type="submit">{% translate "Save" %}</button>
        </form>
    </div>
{% endblock %}