{% extends "teambuilding/site/shared/base.html" %}
{% load i18n %}

{% block content %}
    <section class="hero is-primary is-halfheight">
        <div class="hero-body">
            <div class="">
                <p class="title">
                    {% translate "Welcome" %},
                    {% if user.is_authenticated %}
                        {{ user.nickname|escape }}
                    {% else %}
                        {% translate "Guest" %}
                    {% endif %}
                </p>
                <p class="subtitle">
                    {% translate "Welcome to Taste & Purchase" %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
