{% extends "teambuilding/site/shared/crud/page.html" %}

{% block crud_header %}
    {% load i18n %}
    {% translate "User profile" %}
{% endblock %}

{% block crud_content %}
    {% load i18n %}
    <table class="table">
        <tr>
            <td><strong>{% translate "Nickname" %}</strong></td>
            <td>{{ user_profile.account.nickname|escape }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Email" %}</strong></td>
            <td>{{ user_profile.account.email|escape }}</td>
        </tr>
    </table>
    <hr>
    <div class="field">
        <div class="control">
            <a class="button is-link" href="{% url 'user-profile-update' %}">{% translate "Edit" %}</a>
        </div>
    </div>
{% endblock %}
