{% extends "base.html" %}

{% block content %}

    <h2>Past events</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Organizer</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Description</th>
            <th>Products</th>
            <th>Purchase</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.products.all|join:", " }}</td>
                <td><a href="{% url 'purchase' event.product_id %}">Purchase</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}