{% extends "teambuilding/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "New order" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>{% translate "Name" %}</strong></td>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Description" %}</strong></td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Producer" %}</strong></td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/shared/crud/form.html' with form=order_form %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">{% translate "Purchase" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
