{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Nuovo ordine
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Nome prodotto</strong></td>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <td><strong>Descrizione</strong></td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td><strong>Produttore</strong></td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/shared/crud/form.html' with form=order_form %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Acquista</button>
            </div>
        </div>
    </form>
{% endblock %}
