{% extends "base.html" %}

{% block content %}

    <h2>Delete event</h2>

    <table>
        <tr>
            <td>Title</td>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>{{ event.product }}</td>
        </tr>
        <tr>
            <td>Start date time</td>
            <td>{{ event.start_date }}</td>
        </tr>
        <tr>
            <td>End date time</td>
            <td>{{ event.end_date }}</td>
        </tr>
    </table>

    <form method="post">
        {% csrf_token %}
        Are you want to delete this event ?
        <input type="submit" value="Yes"/>
        <a href="{% url 'manage_own_events' %}">Cancel</a>
    </form>

{% endblock %}