{% extends "base.html" %}

{% block content %}

<h2>Future events</h2>

<table>
    <tr>
      <th>Title</th>
      <th>Organizer</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Description</th>
    </tr>
    {% for event in events %}
    <tr>
      <td> {{ event.title }}</td>
      <td> {{ event.organizer }}</td>
      <td> {{ event.start_date }}</td>
      <td> {{ event.end_date }}</td>
      <td> {{ event.description }}</td>
    </tr> 
    {% endfor %}
    </table>

{% endblock %}