{% extends "teambuilding/shared/base.html" %}

{% block content %}
    <section class="section">
        <h3 class="title is-3">
            Invia ordine complessivo al produttore
        </h3>
        <article class="message">
            <div class="message-body">
                <h5 class="title is-5">Elenco ordini singoli</h5>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Produttore</th>
                        <th>Prodotto</th>
                        <th>Committente</th>
                        <th>Quantità</th>
                        <th>Prezzo EURO (cents)</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.producer }}</td>
                            <td>{{ order.product }}</td>
                            <td>{{ order.customer }}</td>
                            <td>{{ order.purchase_option.amount }}</td>
                            <td>{{ order.purchase_option.price_cents }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </article>
        <div class="box">
            <form method="post">
                {% csrf_token %}
                {% include 'teambuilding/shared/crud/form.html' with form=order_form %}
                {% include 'teambuilding/shared/crud/errors.html' with errors=order_form.non_field_errors %}
                <h5 class="title is-5">Indirizzo di spedizione</h5>
                {% include 'teambuilding/shared/crud/form.html' with form=address_form %}
                {% include 'teambuilding/shared/crud/errors.html' with errors=address_form.non_field_errors %}
                <hr>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Crea ed invia</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'product-producer-order-create' producer_id=producer_id country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}