{% extends "teambuilding/taste-purchase/page_form.html" %}
{% load i18n %}

{% block page_header %}
    {% translate "New producer" %}
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/site/shared/forms/form_content.html' with form=producer_form %}
        {% include 'teambuilding/site/shared/forms/errors.html' with errors=producer_form.non_field_errors %}
        {% include 'teambuilding/site/shared/forms/form_content.html' with form=address_form %}
        {% include 'teambuilding/site/shared/forms/errors.html' with errors=address_form.non_field_errors %}
        <button class="btn btn-primary mt-2" type="submit">{% translate "Save" %}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'product-producer-create' country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}
