{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Dettagli evento
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Titolo</strong></td>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <td><strong>Organizzatore</strong></td>
            <td>{{ event.organizer }}</td>
        </tr>
        <tr>
            <td><strong>Data inizio</strong></td>
            <td>{{ event.start_date }}</td>
        </tr>
        <tr>
            <td><strong>Data fine</strong></td>
            <td>{{ event.end_date }}</td>
        </tr>
        <tr>
            <td><strong>Descrizione</strong></td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td><strong>Prodotti</strong></td>
            <td>{{ event.products.all|join:", " }}</td>
        </tr>
    </table>
{% endblock %}