{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Event details" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>{% translate "Title" %}</strong></td>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Organizer" %}</strong></td>
            <td>{{ event.organizer }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Start datetime" %}</strong></td>
            <td>{{ event.start_date }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "End datetime" %}</strong></td>
            <td>{{ event.end_date }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Description" %}</strong></td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Products" %}</strong></td>
            <td>{{ event.products.all|join:", " }}</td>
        </tr>
    </table>
{% endblock %}