{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Gestisci eventi futuri (creati da Te)
{% endblock %}

{% block crud_content %}
    <a class="button" href="{% url 'event-create' %}">Nuovo</a>
    <hr>
    <table class="table">
        <tr>
            <th>Titolo</th>
            <th>Organizzatore</th>
            <th>Data inizio</th>
            <th>Data fine</th>
            <th>Descrizione</th>
            <th>Prodotti</th>
            <th></th>
            <th></th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.products.all|join:", " }}</td>
                <td><a href="{% url 'event-update' event.id %}">Modifica</a></td>
                <td><a href="{% url 'event-delete' event.id %}">Rimuovi</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}