{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Future events" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>{% translate "Title" %}</th>
            <th>{% translate "Organizer" %}</th>
            <th>{% translate "Start date" %}</th>
            <th>{% translate "End date" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Products" %}</th>
            <th></th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.products.all|join:", " }}</td>
                <td><a href="{% url 'event-detail' event.id %}">{% translate "Details" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}