<p>
    <a href="{% url 'home' %}">Home</a> |
    {% if user.is_authenticated %}
        Events:
        <a href="{% url 'event-all-list-upcoming' %}">List</a> |
        <a href="{% url 'event-all-list-history' %}">History</a> |
        Purchase:
        <a href="{% url 'orders-user-purchase' %}">Purchase</a> |
        {% if user.is_staff %}
            <a href="{% url 'orders-staff-list-manage' %}">List</a> |
        {% endif %}
        Manage:
        <a href="{% url 'event-user-list' %}">Events</a> |
        <a href="{% url 'product-list-manage' %}">Products</a> |
        <a href="{% url 'product-producer-list-manage' %}">Producers</a> |
        Account:
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        Account:
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
</p>
