{% extends "app/crud/page.html" %}

{% block crud_header %}
    Create new purchase order
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Title</strong></td>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td><strong>Producer</strong></td>
            <td>{{ product.producer }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% include 'app/crud/form.html' with form=order_form %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Create new</button>
            </div>
        </div>
    </form>
{% endblock %}
