{% extends "shared/base.html" %}

{% block content %}

    <h2>Add product</h2>

    <form method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endfor %}
        </table>
        <h3>Purchase option</h3>
        {% for hidden in option_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <table>
            {% for field in option_form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Add"/>
    </form>
{% endblock %}
