{% extends "shared/base.html" %}

{% block content %}

    <h2>Edit product</h2>

    <form method="post">
        {% csrf_token %}
        {% include 'shared/form.html' with form=product_form %}
        <h3>Purchase options</h3>
        <a href="{% url 'product-purchase-option-add' product_id=product_id %}">Add new purchase option</a>
        <table>
            <tr>
                <th>Quantity</th>
                <th>Price (in cents)</th>
                <th></th>
                <th></th>
            </tr>
            {% for purchase_option in options %}
                <tr>
                    <td>{{ purchase_option.quantity }}</td>
                    <td>{{ purchase_option.priceInCents }}</td>
                    <td><a href="{% url 'product-purchase-option-edit' product_id=purchase_option.product.id pk=purchase_option.id %}">Edit</a></td>
                    <td>{% if options.count > 1 %}<a href="{% url 'product-purchase-option-delete' product_id=purchase_option.product.id pk=purchase_option.id %}">Delete</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Edit"/>
    </form>
{% endblock %}
