{% extends "shared/base.html" %}

{% block content %}

    <h2>Product list</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Producer</th>
            <th></th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.producer }}</td>
                <td><a href="{% url 'product-edit' product.id %}">Edit</a></td>
                <td><a href="{% url 'product-delete' product.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'product-add' %}">Add new product</a>

{% endblock %}