{% extends "shared/base.html" %}

{% block content %}

    <h2>Add producer</h2>

    <form method="post">
        {% csrf_token %}
        {% include 'shared/form_complex.html' with form=form formsets=formsets %}
        <input type="submit" value="Add"/>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_producerpostaladdress-0-country').on('change', function (e) {
                let url = "{% url 'product-producer-add' %}";
                window.location.replace(url + '/' + this.value);
            });
        });
    </script>
{% endblock %}
