{% extends "shared/base.html" %}

{% block content %}

    <h2>Edit producer</h2>

    <form method="post">
        {% csrf_token %}
        {% include 'shared/form.html' with form=producer_form %}
        <h4>Postal address</h4>
        {% include 'shared/form.html' with form=address_form %}
        <br>
        <input type="submit" value="Edit"/>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'product-producer-edit' pk=producer_id country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}
