<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Taste & Purchase{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
<div id="navbar">
    {% block navbar %}
        <p>
            <a href="/">Home</a> |
            {% if user.is_authenticated %}
                Events:
                <a href="{% url 'events-list-next' %}">List</a> |
                <a href="{% url 'events-list-history' %}">History</a> |
                Manage:
                <a href="{% url 'events-list-manage' %}">Events</a> |
                <a href="{% url 'products-list-manage' %}">Products</a> |
                Account:
                <a href="/accounts/profile/">Profile</a>
                <a href="/accounts/logout/">Logout</a>
            {% else %}
                Account:
                <a href="/accounts/signin/">Log In</a>
                <a href="/accounts/signup/">Register</a>
            {% endif %}
        </p>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

{% block javascript %}{% endblock %}
</body>
</html>