<table>
    <tr>
        <td><h4>{{ formset_title }}</h4></td>
        <td><input type="button" value="Add new" onclick="onAddClick('{{ formset_unique_name }}')"/></td>
    </tr>
</table>
{{ formset.management_form }}
<div id="id_{{ formset_unique_name }}_container">
    {% for formset_form in formset %}
        <div id="id_{{ formset_unique_name }}_{{ forloop.counter0 }}"
             {% if forloop.counter0 >= formset.min_num %}data-formset_removable_form_container{% endif %}>
            <div data-formset_form_prefix_holder data-formset_form_prefix="__prefix__"></div>
            {% for hidden in formset_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <table>
                <tr>
                    <td><h5 data-formset_form_title>{{ formset_attribute_label }} #{{ forloop.counter }}</h5></td>
                    {% if forloop.counter0 >= formset.min_num %}
                        <td><input type="button" value="Remove"
                                   onclick="onRemoveClick('{{ formset_unique_name }}', this)"/></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% for field in formset_form.visible_fields %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                        <td>{{ field.errors }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
<div id="id_{{ formset_unique_name }}_extra___prefix___container" style="display: none">
    <div id="id_{{ formset_unique_name }}_extra___prefix__" data-formset_removable_form_container>
        <div data-formset_form_prefix_holder data-formset_form_prefix="__prefix__"></div>
        {% for hidden in formset_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <table>
            <tr>
                <td><h5 data-formset_form_title>{{ formset_attribute_label }} #__prefix__</h5></td>
                <td><input type="button" value="Remove" onclick="onRemoveClick('{{ formset_unique_name }}', this)"/>
                </td>
            </tr>
            {% for field in formset.empty_form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
