{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Notifications" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>{% translate "Date" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Sender" %}</th>
            <th>{% translate "Read" %}</th>
            <th></th>
        </tr>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.created_at }}</td>
                <td>{{ notification.subject|escape }}</td>
                <td>{% if notification.sender %}{{ notification.sender|escape }}{% endif %}</td>
                <td>{{ notification.read|yesno:_("Yes,No") }}</td>
                <td><a href="{% url 'notification-detail' notification.id %}">{% translate "Detail" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
