{% extends "web/crud/page.html" %}

{% block crud_header %}
    Create new event
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'web/crud/form.html' with form=event_form %}
        {% include 'web/crud/errors.html' with errors=event_form.non_field_errors %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Create new</button>
            </div>
        </div>
    </form>
{% endblock %}
