{% extends "web/crud/page.html" %}

{% block crud_header %}
    Events history (created by Everyone)
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Organizer</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Description</th>
            <th>Products</th>
            <th></th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.products.all|join:", " }}</td>
                <td><a href="{% url 'event-detail' event.id %}">Detail</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}