{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Create new producer
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'web/crud/base_form.html' with form=producer_form %}
        <h4>Postal address</h4>
        {% include 'shared/form.html' with form=address_form %}
        <br>
        <button type="submit">Create new producer</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'product-producer-create' country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}
