{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Delete producer
{% endblock %}

{% block crud_content %}
    <table>
        <tr>
            <td>Name</td>
            <td>{{ producer.name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ producer.email }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ producer.phone }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ producer.producerpostaladdress }}</td>
        </tr>
    </table>
    <br>
    <form method="post">
        {% csrf_token %}
        Are you sure ?
        <input type="submit" value="Yes"/>
        <a href="{% url 'product-producer-list' %}">Cancel</a>
    </form>
{% endblock %}