{% extends "web/crud/base_page.html" %}

{% block crud_header %}
    Producers list
{% endblock %}

{% block crud_content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.name }}</td>
                <td>{{ producer.email }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.producerpostaladdress }}</td>
                <td><a href="{% url 'product-producer-update' pk=producer.id %}">Edit</a></td>
                <td><a href="{% url 'product-producer-delete' pk=producer.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'product-producer-create' %}">Add new producer</a>
{% endblock %}