{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Remove producer" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>{% translate "Name" %}</strong></td>
            <td>{{ producer.name }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Email" %}</strong></td>
            <td>{{ producer.email }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Phone number" %}</strong></td>
            <td>{{ producer.phone }}</td>
        </tr>
        <tr>
            <td><strong>{% translate "Postal address" %}</strong></td>
            <td>{{ producer.postal_address }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <p class="control">{% translate "Are you sure you want to remove this producer?" %}</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">{% translate "Confirm" %}</button>
            </div>
            <div class="control">
                <a class="button is-link is-light" href="{% url 'product-producer-list' %}">{% translate "Cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}