{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Rimuovi produttore
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <td><strong>Nome</strong></td>
            <td>{{ producer.name }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ producer.email }}</td>
        </tr>
        <tr>
            <td><strong>Telefono</strong></td>
            <td>{{ producer.phone }}</td>
        </tr>
        <tr>
            <td><strong>Indirizzo</strong></td>
            <td>{{ producer.postal_address }}</td>
        </tr>
    </table>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <p class="control">Sei sicuro di voler rimuovere questo produttore?</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Conferma</button>
            </div>
            <div class="control">
                <a class="button is-link is-light" href="{% url 'product-producer-list' %}">Annulla</a>
            </div>
        </div>
    </form>
{% endblock %}