{% extends "teambuilding/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Manage producers" %}
{% endblock %}

{% block crud_content %}
    <a class="button" href="{% url 'product-producer-create' %}">{% translate "New" %}</a>
    <hr>
    <table class="table">
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Email" %}</th>
            <th>{% translate "Phone number" %}</th>
            <th>{% translate "Postal address" %}</th>
            <th></th>
            <th></th>
        </tr>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.name }}</td>
                <td>{{ producer.email }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.postal_address }}</td>
                <td><a href="{% url 'product-producer-update' pk=producer.id %}">{% translate "Edit" %}</a></td>
                <td><a href="{% url 'product-producer-delete' pk=producer.id %}">{% translate "Remove" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}