{% extends "teambuilding/site/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Manage pending orders" %}
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Email" %}</th>
            <th>{% translate "Phone number" %}</th>
            <th>{% translate "Postal address" %}</th>
            <th></th>
        </tr>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.name }}</td>
                <td>{{ producer.email }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.postal_address }}</td>
                <td><a href="{% url 'product-producer-order-create' producer_id=producer.id %}">{% translate "Show pending orders" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}