{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Gestisci produttori
{% endblock %}

{% block crud_content %}
    <a class="button" href="{% url 'product-producer-create' %}">Nuovo</a>
    <hr>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Indirizzo</th>
            <th></th>
            <th></th>
        </tr>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.name }}</td>
                <td>{{ producer.email }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.postal_address }}</td>
                <td><a href="{% url 'product-producer-update' pk=producer.id %}">Modifica</a></td>
                <td><a href="{% url 'product-producer-delete' pk=producer.id %}">Rimuovi</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}