{% extends "teambuilding/shared/crud/page.html" %}

{% block crud_header %}
    Producers with open orders list
{% endblock %}

{% block crud_content %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.name }}</td>
                <td>{{ producer.email }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.producerpostaladdress }}</td>
                <td><a href="{% url 'product-producer-order-create' producer_id=producer.id %}">View open orders</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}