{% extends "teambuilding/shared/crud/page.html" %}
{% load i18n %}

{% block crud_header %}
    {% translate "Edit producer" %}
{% endblock %}

{% block crud_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'teambuilding/shared/crud/form.html' with form=producer_form %}
        {% include 'teambuilding/shared/crud/errors.html' with errors=producer_form.non_field_errors %}
        <hr>
        <h5 class="title is-5">{% translate "Postal address" %}</h5>
        {% include 'teambuilding/shared/crud/form.html' with form=address_form %}
        {% include 'teambuilding/shared/crud/errors.html' with errors=address_form.non_field_errors %}
        <hr>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">{% translate "Save" %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'product-producer-update' pk=pk country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}
