{% extends "shared/base.html" %}

{% block content %}

    <h2>Order list</h2>

    <table>
        <tr>
            <td>Select producer:</td>
            <td>
                <select id="id_producer_select">
                    {% for producer in producers %}
                        <option value="{{ producer.id }}"
                                {% ifequal producer.id producer_id %}selected{% endifequal %}>
                            {{ producer }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Product</th>
            <th>Option</th>
            <th>Customer</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.product }}</td>
                <td>{{ order.purchaseOption }}</td>
                <td>{{ order.customer }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'orders-staff-send-to-producer' producer_id %}">Send order to producer</a>

{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_producer_select').on('change', function (e) {
                let url = "{% url 'orders-staff-list-manage' %}";
                window.location.replace(url + this.value);
            });
        });
    </script>
{% endblock %}