{% extends "shared/base.html" %}

{% block content %}

    <h2>Send to producer</h2>

    <form method="post">
        {% csrf_token %}
        {% include 'shared/form.html' with form=order_form %}
        <h4>Delivery address</h4>
        {% include 'shared/form.html' with form=address_form %}
        <br>
        <input type="submit" value="Send"/>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        $('document').ready(function () {
            $('#id_country').on('change', function (e) {
                let url = "{% url 'orders-staff-send-to-producer' producer_id=producer_id country='__country__' %}".replace('__country__', this.value);
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}